/* ----------------
    RESET
---------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ----------------
      GENERAL
  ---------------- */
.container {
  max-width: 75rem;
  margin: 0 auto;
}

body {
  font-family: "Open Sans", serif;
}

/* ----------------
      HEADER
  ---------------- */
header img {
  width: 4.375rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.1875rem 0;
}

header ul {
  list-style: none;
  display: flex;
  gap: 1.25rem;
  font-size: 0.875rem;
  font-weight: 500;
}

header ul li {
  text-transform: uppercase;
}

header a {
  text-decoration: none;
  color: #000;
}

header .underline {
  color: #058af9;
  padding: 2.5rem 0;
  border-bottom: 0.25rem solid #058af9;
}

/* ----------------
      MAIN
  ---------------- */
main {
  background-color: #1c1c1c;
  color: #fff;
  padding: 3.125rem;
  font-weight: 600;
}

/* ----------------
      FOOTER
  ---------------- */
/* FOOTER TOP */
footer {
  background-color: #058af9;
  padding: 3.75rem;
}

.footer-top img {
  height: 3.125rem;
}

.footer-top li:last-child img {
  width: 3.125rem;
}

.footer-top ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-top ul li {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 500;
  gap: 0.625rem;
}

.footer-top a {
  text-decoration: none;
  color: #fff;
}

/* FOOTER MID */
.footer-mid {
  background-image: url(/public/img/footer-bg.jpg);
}
